In [20]:
#load dependencies
import pandas as pd

In [21]:
#Conducting analysis of relationship between State Population and Homicide Count for 2019

#Reading in csv files for population estimate and homicide figures. 
population_df=pd.read_csv('Resources/Census_Pop_2019.csv')
homicide_df=pd.read_csv('Resources/FBI_Homicide_Data.csv')
median_df=pd.read_csv('Resources/Median Income.csv')

In [22]:
median_df.head()

           State Median Income (2019)
0  United States               68,703
1        Alabama               56,200
2         Alaska               78,394
3        Arizona               70,674
4       Arkansas               54,539

In [23]:
population_df.head()

         State 2019 Population
0     .Alabama       4,903,185
1      .Alaska         731,545
2     .Arizona       7,278,717
3    .Arkansas       3,017,804
4  .California      39,512,223

In [24]:
#Cleaning Homicide_df

homicide_df.dropna(how='all')
#Adding column from homicide data frame to population Data Frame 
homicide_df.head()

,State,Total\nmurders1,Total\nfirearms,Handguns,Rifles,Shotguns,Firearms\n(type\nunknown),Knives or\ncutting\ninstruments,Other\nweapons,"Hands, fists,\nfeet, etc.2"
0,Alabama3,4,3,3.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Alaska,69,44,17.0,1.0,6.0,20.0,8.0,5.0,12.0
2,Arizona,337,213,170.0,6.0,6.0,31.0,47.0,67.0,10.0
3,Arkansas,231,177,87.0,10.0,5.0,75.0,21.0,29.0,4.0
4,California,"1,679","1,142",762.0,34.0,26.0,320.0,252.0,183.0,102.0

In [25]:
#Removing unneccesarry columns

homicide_df=homicide_df.head(51)

homicide_df=homicide_df.rename(columns={"Total\nmurders1": "Total Murders", "Total\nfirearms":"Total Firearms", "Firearms\n(type\nunknown)":"Firearms (type uknown)", "Knives or\ncutting\ninstruments":"Knives or cutting Instruments", "Other\nweapons":"Other Weapons", "Hands, fists,\nfeet, etc.2": "Hands, fists, feet, etc"})

homicide_df

,State,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Firearms (type uknown),Knives or cutting Instruments,Other Weapons,"Hands, fists, feet, etc"
0,Alabama3,4,3,3.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Alaska,69,44,17.0,1.0,6.0,20.0,8.0,5.0,12.0
2,Arizona,337,213,170.0,6.0,6.0,31.0,47.0,67.0,10.0
3,Arkansas,231,177,87.0,10.0,5.0,75.0,21.0,29.0,4.0
4,California,"1,679","1,142",762.0,34.0,26.0,320.0,252.0,183.0,102.0
5,Colorado,209,135,83.0,5.0,3.0,44.0,32.0,30.0,12.0
6,Connecticut,104,65,11.0,1.0,0.0,53.0,15.0,17.0,7.0
7,Delaware,48,40,13.0,0.0,0.0,27.0,2.0,3.0,3.0
8,District of Columbia,166,136,52.0,0.0,0.0,84.0,18.0,2.0,10.0
9,Florida4,1,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,Georgia,445,367,305.0,14.0,3.0,45.0,34.0,35.0,9.0
11,Hawaii,32,9,5.0,0.0,0.0,4.0,7.0,11.0,5.0
12,Idaho,35,16,9.0,0.0,0.0,7.0,3.0,13.0,3.0
13,Illinois5,771,647,564.0,7.0,4.0,72.0,70.0,44.0,10.0
14,Indiana,247,185,118.0,3.0,1.0,63.0,25.0,29.0,8.0
15,Iowa,58,36,21.0,0.0,0.0,15.0,8.0,8.0,6.0
16,Kansas,93,56,37.0,1.0,0.0,18.0,12.0,13.0,12.0
17,Kentucky,221,174,101.0,9.0,5.0,59.0,23.0,20.0,4.0
18,Louisiana,522,433,200.0,21.0,3.0,209.0,24.0,54.0,11.0
19,Maine,20,13,6.0,0.0,3.0,4.0,2.0,4.0,1.0
20,Maryland,551,460,414.0,3.0,4.0,39.0,43.0,34.0,14.0
21,Massachusetts,146,86,33.0,0.0,0.0,53.0,38.0,14.0,8.0
22,Michigan,551,379,172.0,13.0,5.0,189.0,44.0,104.0,24.0
23,Minnesota,114,79,61.0,0.0,0.0,18.0,10.0,15.0,10.0
24,Mississippi,189,153,117.0,4.0,3.0,29.0,11.0,23.0,2.0
25,Missouri,566,486,255.0,26.0,10.0,195.0,31.0,37.0,12.0
26,Montana,27,16,11.0,1.0,1.0,3.0,4.0,4.0,3.0
27,Nebraska,45,35,26.0,2.0,2.0,5.0,2.0,4.0,4.0
28,Nevada,147,94,49.0,5.0,3.0,37.0,20.0,23.0,10.0
29,New Hampshire,33,16,12.0,0.0,0.0,4.0,5.0,7.0,5.0
30,New Jersey,262,176,118.0,2.0,1.0,55.0,45.0,25.0,16.0
31,New Mexico,146,96,51.0,1.0,3.0,41.0,21.0,24.0,5.0
32,New York,550,298,255.0,3.0,5.0,35.0,119.0,89.0,44.0
33,North Carolina,516,383,224.0,26.0,8.0,125.0,52.0,68.0,13.0
34,North Dakota,26,13,5.0,2.0,1.0,5.0,5.0,4.0,4.0
35,Ohio,521,382,178.0,13.0,3.0,188.0,26.0,88.0,25.0
36,Oklahoma,264,189,129.0,11.0,12.0,37.0,27.0,37.0,11.0
37,Oregon,98,61,31.0,1.0,4.0,25.0,19.0,14.0,4.0
38,Pennsylvania,556,429,350.0,11.0,11.0,57.0,46.0,66.0,15.0
39,Rhode Island,25,10,1.0,0.0,0.0,9.0,7.0,6.0,2.0
40,South Carolina,445,381,224.0,9.0,8.0,140.0,22.0,27.0,15.0
41,South Dakota,19,7,4.0,1.0,0.0,2.0,3.0,6.0,3.0
42,Tennessee,498,391,173.0,13.0,7.0,198.0,41.0,46.0,20.0
43,Texas,"1,379","1,064",568.0,72.0,21.0,403.0,127.0,130.0,58.0
44,Utah,66,41,18.0,1.0,6.0,16.0,8.0,13.0,4.0
45,Vermont,11,8,3.0,2.0,0.0,3.0,0.0,1.0,2.0
46,Virginia,427,323,150.0,15.0,9.0,149.0,40.0,49.0,15.0
47,Washington,194,135,89.0,5.0,3.0,38.0,23.0,24.0,12.0
48,West Virginia,72,48,23.0,7.0,2.0,16.0,6.0,15.0,3.0
49,Wisconsin,178,119,53.0,3.0,3.0,60.0,25.0,27.0,7.0
50,Wyoming,13,9,7.0,0.0,0.0,2.0,3.0,0.0,1.0

In [26]:
#dsiplay cleaned homicide data frame ('homicide_df')
homicide_df.head()

,State,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Firearms (type uknown),Knives or cutting Instruments,Other Weapons,"Hands, fists, feet, etc"
0,Alabama3,4,3,3.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Alaska,69,44,17.0,1.0,6.0,20.0,8.0,5.0,12.0
2,Arizona,337,213,170.0,6.0,6.0,31.0,47.0,67.0,10.0
3,Arkansas,231,177,87.0,10.0,5.0,75.0,21.0,29.0,4.0
4,California,"1,679","1,142",762.0,34.0,26.0,320.0,252.0,183.0,102.0

In [27]:
#remove row 'United States' from median income data frame ('median_df')
median_df=median_df.loc[median_df["State"]!="United States", :]

median_df["2019 Population"]=population_df["2019 Population"]

median_df=median_df.reset_index()

median_df=median_df[["State", "Median Income (2019)", "2019 Population"]]

median_df.head()

        State Median Income (2019) 2019 Population
0     Alabama               56,200         731,545
1      Alaska               78,394       7,278,717
2     Arizona               70,674       3,017,804
3    Arkansas               54,539      39,512,223
4  California               78,105       5,758,736

In [28]:
population=median_df['2019 Population'].str.replace(",", "").astype(float)
population.head()

0      731545.0
1     7278717.0
2     3017804.0
3    39512223.0
4     5758736.0
Name: 2019 Population, dtype: float64

In [29]:
median_df["Population (2019)"]=population

total_murders=homicide_df["Total Murders"].str.replace(",", "").astype(float)

median_df["Total Murders (2019)"]=total_murders

median_df.head()

,State,Median Income (2019),2019 Population,Population (2019),Total Murders (2019)
0,Alabama,"56,200","731,545",731545.0,4.0
1,Alaska,"78,394","7,278,717",7278717.0,69.0
2,Arizona,"70,674","3,017,804",3017804.0,337.0
3,Arkansas,"54,539","39,512,223",39512223.0,231.0
4,California,"78,105","5,758,736",5758736.0,1679.0

In [31]:
Population_df=median_df[["State", "Population (2019)", "Total Murders (2019)"]]


Summary_df=median_df


Summary_df=Summary_df[["State", "Median Income (2019)", "2019 Population", "Population (2019)", "Total Murders (2019)"]]

Summary_df.to_csv("Clean_Data_Output/Data.csv", index=True)

Population_df.to_csv("Clean_Data_Output/Population_Data.csv", index=True)

In [34]:
Population_df

                   State  Population (2019)  Total Murders (2019)
0                Alabama           731545.0                   4.0
1                 Alaska          7278717.0                  69.0
2                Arizona          3017804.0                 337.0
3               Arkansas         39512223.0                 231.0
4             California          5758736.0                1679.0
5               Colorado          3565287.0                 209.0
6            Connecticut           973764.0                 104.0
7               Delaware           705749.0                  48.0
8   District of Columbia         21477737.0                 166.0
9                Florida         10617423.0                   1.0
10               Georgia          1415872.0                 445.0
11                Hawaii          1787065.0                  32.0
12                 Idaho         12671821.0                  35.0
13              Illinois          6732219.0                 771.0
14               Indiana          3155070.0                 247.0
15                  Iowa          2913314.0                  58.0
16                Kansas          4467673.0                  93.0
17              Kentucky          4648794.0                 221.0
18             Louisiana          1344212.0                 522.0
19                 Maine          6045680.0                  20.0
20              Maryland          6892503.0                 551.0
21         Massachusetts          9986857.0                 146.0
22              Michigan          5639632.0                 551.0
23             Minnesota          2976149.0                 114.0
24           Mississippi          6137428.0                 189.0
25              Missouri          1068778.0                 566.0
26               Montana          1934408.0                  27.0
27              Nebraska          3080156.0                  45.0
28                Nevada          1359711.0                 147.0
29         New Hampshire          8882190.0                  33.0
30            New Jersey          2096829.0                 262.0
31            New Mexico         19453561.0                 146.0
32              New York         10488084.0                 550.0
33        North Carolina           762062.0                 516.0
34          North Dakota         11689100.0                  26.0
35                  Ohio          3956971.0                 521.0
36              Oklahoma          4217737.0                 264.0
37                Oregon         12801989.0                  98.0
38          Pennsylvania          1059361.0                 556.0
39          Rhode Island          5148714.0                  25.0
40        South Carolina           884659.0                 445.0
41          South Dakota          6829174.0                  19.0
42             Tennessee         28995881.0                 498.0
43                 Texas          3205958.0                1379.0
44                  Utah           623989.0                  66.0
45               Vermont          8535519.0                  11.0
46              Virginia          7614893.0                 427.0
47            Washington          1792147.0                 194.0
48         West Virginia          5822434.0                  72.0
49             Wisconsin           578759.0                 178.0
50               Wyoming                NaN                  13.0

In [33]:
Summary_df.head()

,State,Median Income (2019),2019 Population,Population (2019),Total Murders (2019)
0,Alabama,"56,200","731,545",731545.0,4.0
1,Alaska,"78,394","7,278,717",7278717.0,69.0
2,Arizona,"70,674","3,017,804",3017804.0,337.0
3,Arkansas,"54,539","39,512,223",39512223.0,231.0
4,California,"78,105","5,758,736",5758736.0,1679.0